/* max-width: 768px stert  */
@media screen and (max-width: 992px) {
  .dextop_logo {
    display: none;
  }

  .mobilr_logo {
    display: block;
    width: 50px;
  }

  .mobilr_logo a {
    display: block;
    width: 50px;
  }

  .mobilr_logo a img {
    display: block;
    width: 100%;
  }

  .nav_menu {
    display: block;
    cursor: pointer;
  }

  .header-bottom .nav {
    display: flex;
    align-items: center;
  }

  nav {
    width: 320px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 86px;
    left: -320px;
    z-index: 111111;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    padding: 50px 20px;
  }

  .header-bottom .nav a {
    font-size: 15px;
    font-weight: 500;
    display: block;
  }

  .header-bottom .nav {
    display: flex;
    align-items: center;
    display: block;
    text-align: center;
  }

  .nav_close {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    z-index: 11111;
    width: 40px;
    height: 40px;
    font-size: 30px !important;
    display: block;
  }

  .header-top .container {
    flex-wrap: wrap;
  }

  .header-top-left {
    width: 30%;
  }

  .header-top-right {
    width: 60%;
  }

  .header-top-right .btn-blue,
  .btn-red {
    display: none;
  }

  .header-top form {
    width: 100%;
  }

  .header-top input {
    width: 100%;
  }

  .team_flex .team_name {
    width: 30% !important;
  }

  .blog_item {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #tns1>.tns-item {
    padding-right: 0px !important;
  }
}

/* max-width: 768px stert  */
@media screen and (max-width: 768px) {

  /* home page css stert  */
  .home-top-banner .home-top-banner-box {
    grid-template-columns: 1fr;
  }

  .top_bg_banner {
    background-position: center !important;
    background-size: cover !important;
    margin: 20px 0px 30px 0px;

  }

  .student-es-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .container {
    padding: 0 20px;
  }

  .parent-guide-img-side {
    display: none;
  }

  .parent-guide {
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .about-canada-img {
    display: none;
  }

  .about-canada-content {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-canada-content h3 {
    font-size: 40px;
    line-height: 40px;
  }

  .home-work h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .visa-content-grid {
    grid-template-columns: 1fr;
    margin-bottom: 15px;
  }

  .faq-content .site-faq {
    grid-template-columns: 1fr;
  }

  .home-contact-form {
    padding: 30px 0;
  }

  .home-contact-form h2 {
    font-size: 26px;
    line-height: 35px;
    width: 100%;
  }

  /* home page css end  */

  /* about page css stery  */
  .st_review_box_working {
    width: 100%;
  }

  .working_tex_aria {
    width: 100%
  }

  .Infrastructure_img {
    display: none;
  }

  .branch-content {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 40px;
  }

  .what-side-img {
    display: none;
  }

  .what-we-do-content {
    grid-template-columns: 1fr 1fr;
    gap: 21px;
  }

  .why-st-ca-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .our-leader-box {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .our-leader-box img {
    width: 100% !important;
  }

  .home-top-banner-box-left-other {
    padding-left: 0px;
  }

  /* about page css end  */

  /* admission-help page css start  */
  .fin-bank-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* admission-help page css end  */

  /* all-course page css start  */
  .all-course-content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* all-course page css end  */
  .our-service-content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .assitance-col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .assitance-col-3 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }


  /* service page css start  */

  /* service page css start  */

  /* blog page css start  */
  .blog-page .blog-page-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .top-banner-side-flag {
    display: none;
  }

  /* blog page css end  */

  /* student profile page css start   */
  .stu-ana-content {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
  }

  .st-cta-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .why-stu-ana-content {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 50px;
  }

  .profile-contact form {
    grid-template-columns: 1fr;
    border-radius: 20px;
  }

  .stu-ana-content .stu-ana-right {
    margin-top: 30px;
  }

  .slide_main_img {
    width: 100%;
    height: 220px;
    max-width: 100%;
  }

  form .form-left {
    display: none;
  }

  /* student profile page css end   */

  /* finalcial page css start  */

  /* finalcial page css start  */

  /* visa page css start  */
  .visa-pros-content {
    gap: 15px;
    margin-top: 10px;
  }

  .visa-pros-box h3 {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  .visa-pros-box {
    padding: 15px 25px;
    height: 150px;
    border-radius: 7px;
  }

  .st-visa-pros ul li span {
    font-size: 14px;
  }

  .st-visa-pros ul li {
    margin-bottom: -10px;
    grid-template-columns: 12px 1fr;
    gap: 0 8px;
  }

  /* visa page css end  */
  /* complete-contact page css start  */
  .form-grid-col-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .complete-form {
    padding: 30px 0;
  }

  /* complete-contact page css start  */

  /* contact page css start  */
  .contact-form-content {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .contact-form-content-img h3 {
    font-size: 22px;
    line-height: 28px;
    margin-right: 30px;
  }

  /* contact page css start  */

  /* course-details page css start  */
  .top-cta-content {
    margin-top: 60px;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    padding: 20px 0;
  }

  /* course-details page css start  */

  /* find course page css start  */
  .our-course-search .our-course-search-content {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .our-course-search .our-course-search-content .our-course-search-box {
    padding: 18px;
    height: auto;
  }

  .our-course-search .our-course-search-content .our-course-search-box h3 {
    font-size: 17px;
  }

  .our-course-search .our-course-search-content .our-course-search-box li a {
    font-size: 15px;
    line-height: 20px;
  }

  .our-course-search .our-course-search-content .our-course-search-box li {
    margin-bottom: 8px;
  }

  .our-course-search .our-course-search-content .our-course-search-box a {
    font-size: 15px;
  }

  .our-course-search .our-course-search-content .our-course-search-box ul {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .fint_button {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .select_grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* find course page css end  */

  /* scholorship-page css start  */
  .study-table table th {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
  }

  .study-table table td {
    font-size: 15px;
    line-height: 22px;
    padding: 10px;
  }

  .main_table {
    max-width: 600px;
    overflow-y: scroll;
  }

  .main_table::-webkit-scrollbar {
    width: 10px;
  }

  .find-now form {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 10px;
    border-radius: 10px;
  }

  /* scholorship-page css end  */

  /* study-in-canada page css start  */
  .canada-side-tab .nav-pills .nav-link {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .scrol_point_flex .nav-pills {
    width: 100%;
  }

  .scrol_point_flex .tab-content {
    width: 100%;
    margin-top: 20px;
  }

  .canada-side-tab #v-pills-tab {
    padding-right: 0px !important;
    margin-right: 0px !important;
    border-right: 0px solid #aaaaaa !important;
    justify-content: space-between;

  }

  .st-cta {
    padding: 0 0 50px 0 !important
  }

  .st-cta .mobile_none {
    display: none;
  }

  .st-cta-right {
    margin-top: 40px;
  }

  .st-cta-content h3 {
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 25px !important;
  }

  .st-cta-left {
    display: none;
  }

  .table_mobile12 {
    width: 400px !important;
    overflow-x: scroll !important;
    margin: 0 auto;
  }

  .canada-list-table table tr th {
    font-size: 15px;
    padding: 10px 15px;
  }

  .canada-list-table table tr td {
    padding: 12px;
    font-size: 15px;
  }

  /* study-in-canada page css end  */

  /* online counseling page css start */
  .online_fron_bg_color .online_left_bar {
    width: 100%;
    margin-bottom: 30px;
  }

  .online_fron_bg_color .online_right_form_bar {
    width: 100%;
  }

  .online_fron_bg_color {
    padding: 30px;
    border-radius: 20px;
  }

  .oberview_banner .container h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin: 15px 0 5px 0;
  }

  .home-work-nav {
    justify-content: space-between;
    gap: 10px;
    border-bottom: none;
    flex-wrap: wrap;
  }

  .overview_top_list li {
    font-size: 14px !important;
  }

  .home-work-nav li.active {
    border-bottom: 3px solid #e50019;
    padding: 5px;
  }

  .home-work h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .Programs_flex .Programs_box {
    width: 48%;
    border-radius: 10px;
    padding: 18px;
  }

  .Programs_box h4 {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 20px;
  }

  .date_flex p {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .application h5 {
    font-size: 18px;
  }

  .fin-bank-content {
    gap: 30px;
    padding-top: 20px;
  }

  /* modal respo css */
  .our_program h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .our_program form .form_left {
    width: 100%;
  }

  .our_program form .form_right {
    width: 100%;
  }

  .team_det_flex .title_aria {
    width: 100% !important;
    margin-top: 15px;
  }

  .wraper .collage_item {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 0 10px 0;
  }

  .video_item .vdio img {
    height: 300px;
  }

  .home-top-banner-box-left {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-top-banner-box-mini,
  .home-top-banner-box-main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /* online counseling page css end */




}

/* max-width: 768px end  */

/* max-width: 550px stert  */

@media screen and (max-width: 550px) {
  .team_det_flex img {
    width: 400px !important;
  }

  /* footer res scc  */
  .footer-body ul li a {
    font-weight: 500;
    font-size: 15px;
  }

  .footer-body {
    gap: 20px;
  }


  /* home page css  */
  .home-top-banner-box-left {
    height: 400px;
    grid-template-columns: 1fr;
  }

  .home-top-banner-box-left .top-banner-text h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .home-top-banner-box-left .top-banner-img {
    display: none;
  }

  .home-top-banner-box-left .top-banner-text {
    padding-left: 0px;
  }

  .home-top-banner-box-left .top-banner-text {
    padding: 30px;
  }

  .section-slide-header h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .home-work-nav {
    justify-content: center;
    max-width: 337px;
    margin: 0 auto;
  }

  .team-canada-img {
    display: none;
  }

  .team-content {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px 20px;
  }

  .team-box h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .team-box small {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
  }

  .team-box a {
    font-size: 14px;
  }

  .section-slide-header {
    padding: 15px 0;
  }

  .home-top-banner {
    margin: 20px 0px 30px 0px;

  }

  .our-leader-box h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .student-es-content .student-es-left h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  .student-es-content .student-es-left p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .student-es-content .student-es-left a {
    font-size: 15px;
    line-height: 20px;
  }

  .student-es-content .student-es-left .student-es-icon {
    height: 80px;
    width: 80px;
  }

  .student-es-content .student-es-left .student-es-icon img {
    width: 50%;
  }

  .student-es-content .student-es-box h4 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
  }

  .student-es-content .student-es-right .student-es-icon {
    height: 60px;
    width: 60px;
  }

  .parent-guide-box h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .parent-guide-box p {
    font-size: 14px;
    line-height: 1.5;
  }

  .parent-guide-btn a {
    padding: 10px 15px;
    font-size: 14px;
  }

  .about-canada-content h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about-canada-content h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .btn-blue {
    padding: 8px 15px;
    font-weight: 600;
    font-size: 14px;
  }

  .btn-red {
    padding: 8px 15px;
    font-weight: 600;
    font-size: 14px;
  }

  .home-work h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .home-work-nav li {
    font-size: 17px;
    line-height: 20px;
    padding: 0 15px 10px;
    cursor: pointer;
  }

  .home-work-content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
  }

  .home-work-box h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .home-work-box p {
    display: none;
  }

  .home-work-box a {
    font-size: 13px;
    line-height: 16px;
    gap: 5px;
  }

  .home-work-box a>img {
    width: 30px;
  }

  .admission .section-slide-header {
    padding: 25px 0 15px;
  }

  .visa-box {
    gap: 8px;
  }

  .visa-btn {
    margin-top: 20px;
  }

  .imi-ser {
    padding-bottom: 35px;
    margin-top: 35px;
  }

  .imi-ser h6 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-control-partner div {
    width: 40px;
    height: 40px;
  }

  .ref-pro-content {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 20px;
  }

  .accordion-button {
    font-size: 17px;
    padding: 15px;
  }

  .accordion-body p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #555555;
  }

  .accordion-button::after {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    line-height: 36px;
  }

  .section-header h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center !important;
  }

  .section-header {
    padding: 30px 0 20px;
  }

  .ref-pro-content .ref-pro-box h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .home-contact-form form {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .home-contact-form form input,
  .home-contact-form form textarea {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
  }

  .home-contact-form form textarea {
    height: 120px;
    margin-top: -20px;
  }

  .home-contact-form h2 {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }

  .home-contact-form form button {
    height: 55px;
    font-size: 18px;
  }

  p {
    font-size: 14px !important;
    line-height: 22px;
    font-weight: 400px !important;
  }

  .h2,
  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .working_tex_aria h2 {
    margin-bottom: 0px;
  }

  .working_number .number_box h2 {
    font-size: 22px;
  }

  .working_number .number_box h6 {
    font-size: 12px;
    line-height: 18px;
  }

  .working_number {
    margin-top: 0px;
  }

  /* home page css end  */
  /* about page css start  */
  .think-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .think-content .think-box img {
    width: 70px;
  }

  .think-content .think-box h3 {
    margin: 10px 0;
    font-size: 25px;
  }

  .think-content .think-box p {
    font-size: 15px;
    line-height: 1.5;
  }

  .think-content .think-box {
    padding: 20px;
  }

  .branch-content h3 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
  }



  .branch-content h4 {
    font-size: 24px;
    line-height: 39px;
    margin: 15px 0;
  }

  .country-loc-box {
    gap: 7px;
    padding: 5px 10px;
  }

  .country-loc {
    gap: 10px;
  }

  .country-loc-box span {
    font-size: 16px;
  }

  .country-loc-box img {
    width: 12px;
  }

  .section-slide-header h3 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  .what-we-do-content .what-we-do-box {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
  }

  .why-st-ca-box {
    grid-template-columns: 70px 1fr;
    gap: 15px;
    margin-bottom: 20px;
  }

  .why-st-ca-box h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .why-st-ca-box p {
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
  }

  .our-leader-box h4 {
    font-size: 15px;
    line-height: 24px;
    margin: 5px 0 10px;
  }

  /* about page css end  */
  /* admission-help page css start  */
  .fin-bank-content h2 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .fin-bank-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .fin-bank-content li {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .fin-bank-content {
    padding-top: 30px;
  }

  .uni-text {
    padding-top: 30px;
  }

  h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0px;
  }

  .uni-text .uni-text-box {
    margin-bottom: 15px;
  }

  .profile-contact {
    padding: 30px 0;
  }

  .profile-contact form {
    grid-template-columns: 1fr;
    border-radius: 20px 20px 20px 0px;
  }

  .profile-contact form h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .profile-contact form input,
  .profile-contact form select {
    padding: 10px 15px;
    margin-bottom: 12px;
  }

  .profile-contact form label {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .profile-contact form select {
    font-size: 15px;
  }

  ::placeholder {
    font-size: 15px !important;
  }

  .profile-contact form button {
    margin-top: 25px;
    font-size: 16px;
    height: 50px;
  }

  /* admission-help page css end  */

  /* all-course page css start  */
  .all-course-content .all-course-box a {
    font-weight: 600;
    font-size: 16px;
  }

  .all-course-content .all-course-box {
    height: 110px;
    padding: 15px;
  }

  /* all-course page css end  */

  /* all-course page css end  */

  /* service page css start  */
  .our-service-box h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .our-service-box a {
    font-size: 14px;
    line-height: 15px;
  }

  .our-service-box p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .our-service-box .our-service-box-img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .our-service-box .our-service-box-img img {
    width: 18px;
  }

  .assitance-col-3 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .assitance-content h4 {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0 5px;
  }

  .assitance-content li {
    margin-bottom: 10px;
  }

  .assitance-col-3 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .assitance-col-2 {
    grid-template-columns: 1fr;
  }

  /* service page css end  */

  /* blog page css start  */
  .blog-page h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .blog-page small {
    font-size: 14px;
    line-height: 20px;
  }

  .blog-page .blog-tags a {
    height: 32px;
    line-height: 28px;
    border-radius: 30px;
    font-size: 14px;
  }

  .blog-page h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .blog-page {
    padding: 30px 0;
  }

  .blog-page h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .blog-page h6 {
    font-size: 14px;
  }

  .blog-comment-box-profile {
    margin-top: 15px;
  }

  .blog-page-content-right-box {
    gap: 20px;
    grid-template-columns: 130px 1fr;
  }

  .blog-page h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .blog-page-content-right a {
    font-size: 14px;
    color: #e50019;
    gap: 10px;
  }


  /* blog page css end  */

  /* student profile page css start   */
  .stu-ana-content h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .stu-ana-content p {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .stu-ana-right-box small {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .st-cta {
    padding: 35px 0;
    margin-top: 40px;
  }

  .st-cta-content h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .st-cta-content a {
    padding: 12px 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .st-cta-content h4 {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .st-cta-content ul li {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .why-stu-ana-content h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .why-stu-ana-content p,
  .why-stu-ana-content li {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .slide_main_img {
    width: 100%;
    height: 180px;
    max-width: 100%;
  }

  .st-review-box-text-left img {
    width: 50px;
    height: 50px;
  }

  .st-review-box h4 {
    font-size: 14px;
    line-height: 18px;
  }

  .st-review-box small {
    font-size: 14px;
  }

  /* student profile page css end   */

  /* finalcial page css start  */
  .fin-bank-content h3 {
    font-size: 17px !important;
    line-height: 26px;
  }

  .section-slide-header h2 {
    font-size: 18px;
    line-height: 24px;
  }

  element {
    font-size: 18px;
  }

  .about-fin-content ul {
    grid-template-columns: 1fr;
  }

  .about-fin-content li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .faq {
    padding-bottom: 40px;
    margin-top: 30px;
  }

  .fin-bank-left {
    max-width: 90%;
    margin: 0 auto;
  }

  .health_list li {
    font-size: 16px !important;
  }

  /* finalcial page css end  */

  /* visa page css start  */
  /* visa page css end  */

  /* complete-contact page css start  */
  .form-grid-col-3 {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 35px;
  }

  .complete-form select {
    font-size: 14px;
    line-height: 17px;
  }

  .complete-form-content {
    border-radius: 15px;
    padding: 18px 20px 25px;
  }

  .complete-form-content .check-box label {
    font-size: 14px;
    line-height: 16px;
  }

  .complete-form h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .label-file-btn {
    line-height: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
  }

  .complete-form h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .complete-form .image {
    width: 50px;
    height: 50px;
  }

  .input-img {
    gap: 5px;
    grid-template-columns: 60px 60px 60px;
    margin-bottom: 18px;
  }

  .complete-form .form-btn button {
    width: 200px;
    height: 60px;
    border-radius: 7px;
    font-size: 17px;
  }

  .complete-form .form-btn {
    margin-left: 0px;
    margin-top: -20px;
  }

  /* complete-contact page css start  */

  /* contact page css start  */
  .side-contact-box h5 {
    font-size: 16px;
    line-height: 20px;
  }

  .side-contact-box a {
    font-size: 14px;
    line-height: 18px;
  }

  .side-contact-box {
    gap: 15px;
    margin-bottom: 20px;
  }

  .side-contact-box .side-contact-img {
    width: 45px;
    height: 45px;
  }

  .side-contact-img img {
    width: 20px;
  }

  .contact-form-content-right form button {
    font-size: 16px;
    padding: 12px 40px;
  }

  .contact-form-content-right form textarea {
    height: 120px;
  }

  .map-tabs button {
    width: 120px;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
  }

  .map-tabs ul {
    gap: 15px;
  }

  .map-tabs iframe {
    margin-top: 15px;
    width: 100%;
    height: 350px;
  }

  /* contact page css start  */

  /* course-details page css start  */
  .top-cta-content {
    grid-template-columns: 1fr;
  }

  .uni-text-big-title h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .profile-contact .form-right {
    padding: 20px;
  }

  .profile-contact form {
    border-radius: 15px;
  }

  /* course-details page css start  */

  /* find course page css start  */
  .course-search-form .container h2 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .select_grid select {
    padding: 15px;
  }

  .select_grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* find course page css start  */

  /* money transfer page css start  */
  .section-slide-header h4 {
    font-size: 20px;
    line-height: 27px;
    margin-top: 15px !important;
  }

  .study-table h3 {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  /* money transfer page css end  */

  /* scholorship-page css start  */

  /* scholorship-page css end  */
  .partner {
    margin-top: 0 !important;
  }

  .student-es-content .student-es-left h3 {
    font-size: 17px;
    line-height: 22px;
  }

  .assitance-content h3 {
    font-size: 20px;
    line-height: 26px;
    margin: 12px 0 5px;
  }

  .assitance-content h5 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
  }

  .find-now {
    padding-top: 30px;
  }

  .find-now form {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .find-now form select {
    height: 45px;
    font-size: 15px;
    line-height: 20px;
  }

  .find-now form button {
    font-size: 16px;
  }

  .find-now form button {
    padding: 12px 0;
  }

  .canada-side-tab .nav-pills .nav-link {
    width: 48%;
    height: 40px;
    margin-bottom: 8px;
  }

  .canada-side-tab-content h3 {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .canada-side-tab-content p {
    font-weight: 400;
    font-size: 15px;
    color: #555555;
    margin-bottom: 5px;
  }

  .canada-side-tab-content li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .type-canada-box {
    padding: 20px 15px 20px 15px;
  }

  .benifit-canada-box {
    position: relative;
    padding: 40px 30px;
    margin-bottom: 40px;
  }

  .benifit-canada {
    margin-top: 40px;
  }

  .table_mobile12 {
    width: 600px !important;
    overflow-x: scroll !important;
  }

  /* online counseling page css start */
  .filter_btn_slider {
    flex-wrap: wrap;
  }

  .filter_btn_slider div {
    width: 100%;
  }

  .filter_btn_slider div button {
    width: 100%;
    margin-top: 20px;
  }

  .btn.active::before {
    display: none;
  }

  .img_pos_tex h2 {
    font-size: 18px;
  }

  .personal_meeting_title {
    margin-top: 20px;
  }

  .title_aria .parson_detles .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    margin: 0 10px 0 0;
  }

  .title_aria .parson_detles .detels {
    font-size: 16px;
    line-height: 22px;
  }

  .online_fron_bg_color {
    padding: 15px;
    border-radius: 8px;
  }

  .filter_btn_slider {
    margin: 15px 50px 30px 50px;
  }

  .tex_left_bar .title_aria h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .tex_left_bar .title_aria ul li {
    font-size: 14px;
    line-height: 24px;
  }

  .img_pos_tex ul li {
    margin-bottom: 6px;
    font-size: 14px;
  }

  .home-work h2 {
    font-size: 18px;
    line-height: 26px;
  }

  .Overview_Filter_contact .home-work-box p {
    display: block !important;
  }

  .home-work-box h4 {
    margin-bottom: 7px;
    font-size: 18px;
  }

  .title_list_flex {
    padding: 0px 0 5px 0;
  }

  .Overview_Filter_contact .home-work-box .faq .container {
    padding: 0;
  }

  .Overview_Filter_contact .home-work-box .section-header h2 {
    text-align: left;
    margin-bottom: 0;
  }

  .oberview_banner {
    padding: 20px 0;
  }

  .minimum_ielts_score .ielts_score {
    border-radius: 10px;
    padding: 30px 17px;
  }

  .Overview_Filter_contact .home-work-box {
    margin-top: -20px;
  }

  .Programs_flex .Programs_box {
    width: 100%;
    padding: 15px;
  }

  .Approximate_facts span {
    width: 49%;
  }

  .academic_counseling a {
    width: 48%;
    font-size: 16px;
    padding: 12px 0;
  }

  .home-work-box h3 {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
  }

  .home_stay_section .container .home_stay {
    width: 100%;
    margin-bottom: 20px;
  }

  .home_stay ul li {
    margin: 8px 0px 8px 20px;
    font-size: 15px;
  }

  .home_stay ul li::before {
    left: -18px;
    width: 8px;
    height: 8px;
  }

  .tmmigrating_section .container h2 {
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 10px 0;
  }

  .working_section {
    padding: 15px 0;
  }

  .table_mobile12 {
    width: 320px !important;
    overflow-x: scroll !important;
  }

  .fin-bank-content h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 6px;
  }

  .fin-bank-right .cont_btn {
    margin-top: 10px;
  }

  .apply_online_section .container h2 {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0;
  }

  .apply_online_section {
    padding: 40px 0;
  }

  .assitance .container {
    padding: 30px 20px;
  }

  .helth_box h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  iframe {
    width: 100%;
    height: 250px;
  }

  .team_flex .team_name {
    width: 46% !important;
  }

  .team_flex .team_name .name {
    font-size: 15px !important;
    margin: 5px 0 5px 0 !important;
    line-height: 20px !important;
  }

  .team_flex .team_name .Owner {
    margin: 0px 0;
  }

  .btn_flex {
    margin: 4px 0;
  }

  .what-we-do-content {
    grid-template-columns: 1fr;
    gap: 21px;
  }

  .blog_item {
    grid-template-columns: 1fr;
  }

  .blog_item .blog_box h2 {
    font-size: 16px;
    margin: 10px 0 0px 0;
  }

  .author_date_flex .author h5 {
    font-size: 16px;
  }

  .author_date_flex .date {
    margin-bottom: 5px;
  }

  .message_send h2 {
    color: #E50019;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .message_send h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
    margin: 10px 20px 50px 20px;
  }

  .message_send .done {
    bottom: 15px;
    left: 35%;
  }

  .filters {
    gap: 15px;
    border-bottom: none;
    margin-bottom: 20px;
    width: 100% !important;
  }

  .filters div .btn {
    font-size: 15px;
  }

  .search_form .container form .search {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 20px;

  }

  .search_form .container form .submit_btn {
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .search_form .container form {
    margin-top: 30px;
    border: none;
  }

  .filter_section {
    padding: 20px 0;
  }

  .video_item .vdio img {
    height: 300px;
  }

  .student_review i {
    top: 44%;
    left: 45%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .benifit-canada-box h4 {
    margin-top: 20px;
  }

  .benifit-canada-content {
    gap: 30px 50px;
    margin-top: 60px;
  }
  .comment_form {
    padding: 14px;
    border-radius: 10px;
  }
  .comment_form div label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  /* online counseling page css end */
}

/* max-width: 550px end  */

/* max-width: 428px stert  */
@media screen and (max-width: 428px) {
  .video_item .vdio img {
    height: 250px;
  }

  /* home page css start  */
  .home-top-banner-box-left .top-banner-text p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .home-top-banner-box-left .top-banner-text a {

    font-size: 16px;
    text-align: center;
    width: 200px;
    padding: 15px;
  }

  .home-top-banner-box-mini h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .home-top-banner-box-left .top-banner-text h2 {
    font-size: 22px;
  }

  .section-slide-header h2 {
    font-size: 16px;
    line-height: 22px;
  }

  .student-es-content .student-es-box h4 {
    font-size: 13px;
  }

  .about-canada-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555555;
  }

  .about-canada-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555555;
  }

  .admission-box h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .section-slide-header p {
    font-size: 14px;
    margin-top: 8px;
  }

  .admission-box p {
    font-size: 14px;
  }

  .all-p p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .visa .section-slide-header {
    padding: 25px 0 10px 0;
  }

  .all-p h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .ref-pro-content .ref-pro-box .ref-pro-left h4 {
    font-size: 22px;
  }

  .ref-pro-content .ref-pro-box .ref-pro-left h5 {
    font-size: 17px;
  }

  .ref-pro-content .ref-pro-box h6 {
    font-size: 14px;
    line-height: 22px;
  }

  .ref-pro-content .ref-pro-box a {
    margin-top: 7px;
    font-size: 14px;
  }

  .ref-pro-content .ref-pro-box .ref-pro-left {
    width: 70px;
    height: 70px;
  }

  .ref-pro-content .ref-pro-box {
    gap: 10px;
    padding: 10px;
  }

  .section-header h2 {
    font-size: 20px;
  }

  /* home page css end  */


  /* all-course page css start  */
  .section-slide-header h2 {
    font-size: 16px;
    line-height: 22px;
  }


  /* all-course page css end  */

  /* service page css start  */
  /* service page css end  */

  /* blog page css start  */
  /* blog page css end  */

  /* student profile page css start   */
  .slide_main_img {
    height: 150px;
  }

  .st-review-box-text-left {
    display: none;
  }

  /* student profile page css end   */

  /* finalcial page css start  */
  /* finalcial page css start  */

  /* visa page css start  */
  /* visa page css end  */

  /* complete-contact page css start  */
  /* complete-contact page css start  */

  /* contact page css start  */
  /* contact page css start  */

  /* course-details page css start  */
  .uni-text-carear .uni-text-content {
    padding: 20px;
    border-radius: 15px;
  }

  .uni-text h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .top-cta-box {
    padding: 20px;
  }

  .all-course-content {
    gap: 15px;
  }

  /* course-details page css start  */

  .our-course-search .our-course-search-content {
    grid-template-columns: 1fr;
  }

  .our-course-search {
    padding: 40px 0 40px;
  }

  .of-success .container .section-slide-header {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  /* course-details page css end  */


  /* money transfer page css start  */
  .section-slide-header h4 {
    font-size: 16px;
    line-height: 22px;
  }

  /* money transfer page css end  */

  /* scholorship-page css start  */

  /* scholorship-page css end  */

  .type-canada-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .canada-apply-content .canada-apply-box h3 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px;
  }

  .canada-apply-content .canada-apply-box .canada-apply-img {
    width: 80px;
    height: 80px;
  }

  .canada-apply-content .canada-apply-box {
    height: 180px;
  }

  .canada-apply-content {
    gap: 20px;
    margin-bottom: 40px;
  }

  .type-canada {
    margin-top: 30px;
  }

  .branch-content p {
    font-weight: 400;
  }

  .branch-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .st-cta-content ul li {
    font-weight: 400;
    font-size: 14PX;
  }

  .benifit-canada-content {
    grid-template-columns: 1fR;
    gap: 20px;
    margin-top: 50px;
  }

  .benifit-canada-box .benifit-canada-img {
    width: 60px;
    height: 60px;
    top: -30px;
  }

  .benifit-canada-box .benifit-canada-img img {
    width: 35px;
  }

  .benifit-canada-box h4 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .section-header h2 {
    font-size: 20px;
    text-align: center;
  }

  .wraper .collage_item {
    grid-template-columns: 1fr;
  }

  /* online counseling page css start */
  /* online counseling page css end */
}

/* max-width: 428px end  */